# Standard .NET Ignore
[Bb]in/
[Oo]bj/

out/
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# Secrets & Config
appsettings.json
appsettings.Development.json
secrets.json

# Docker
.dockerignore

